<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="MySql.Data, Version=6.1.6.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/></assemblies></compilation>
	</system.web>
	<connectionStrings>
		<add name="appconnstring" connectionString="server=127.0.0.1;user id=root;password=r13090229;database=sms" providerName="Mysql.Data.MysqlClient"/>
	</connectionStrings>
</configuration>
